h2 {
    display: flex;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    margin-left: 600px;
    margin-top: 80px;
}
.col {
    margin-top: 90px;
}
h2 {
    display: flex;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    margin-left: 600px;
    margin-top: 80px;
    border: 1px solid black;
    padding-left: 0%;
    border-radius: 0.75rem;
    height: 55px;
    width: 200px;
    text: center;
    display: flex;
    justify-content: center;
    font-size: 45px;
}
h3 {
    display: flex;
    justify-content: center;
    margin-top:  50px;
}
span {
    display: flex;
    margin-bottom: 20px;
}
.para {
    display: flex;
    margin: 30px 400px 70px 400px;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    border-radius: 71px;
}
.card {
    border-radius: 35px;
    height: 195px;
    padding:20px;
    border-color: red;
}
h2 {
    display: flex;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    margin-left: 600px;
    margin-top: 80px;
    border: 1px solid black;
    padding-left: 0%;
    border-radius: 0.75rem;
    height: 55px;
    width: 200px;
    text: center;
    display: flex;
    justify-content: center;
    font-size: 45px;
    color: white;
    background-color: #147e14;
}